{% extends 'base2.html.twig' %}

{% block body %}

  <script type="text/javascript">
      datedeb = [];
      datefin = [];
      titletab = [];
      j=0;
  </script>
  {% for examen in data %}
        <script type="text/javascript">
                dateD=new Date("{{examen.date.date}}");
                dateD.setHours(new Date("{{examen.heureDeb.date}}").getHours());
                dateD.setMinutes(new Date("{{examen.heureDeb.date}}").getMinutes());
                datedeb[j]=dateD;
                titletab[j]= "{{examen.type~' '~examen.annee.nom~' '~examen.matiere.nom~' '~examen.classe.nom}}";
                dateF=new Date("{{examen.date.date}}")
                dateF.setHours(new Date("{{examen.heureFin.date}}").getHours());
                dateF.setMinutes(new Date("{{examen.heureFin.date}}").getMinutes());
                datefin[j]=dateF;
                j++;
        </script>
  {% endfor %}

  <div class="content-frame-body padding-bottom-0">
        <div class="row">
            <div class="col-md-12">
                <div id="alert_holder"></div>
                <div class="calendar">                                
            <div id="calendar"></div>                            
                </div>
            </div>
        </div>
    </div>   

    
<style type="text/css">
.hidden-row{
  display: none;
}
</style>
{% endblock %}

{% block javascripts %}
    
    

  <script type="text/javascript" src="{{ asset('js/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/plugins/fullcalendar/lang/fr.js')}}"></script>

    <script type="text/javascript">
      $( document ).ready(function() {
        
        $('#selectMatiere').selectpicker({
          style: 'btn-default',
            size: 4
        });

        $('#selectClasse').selectpicker({
          style: 'btn-default',
            size: 4
        });
      

        var calendar = $('#calendar').fullCalendar({
      
            editable: false,
        
            minTime: "8:00",

            maxTime: "18:00",

            firstDay: 0,

            timezone : 'local',

            hiddenDays: [ 5, 6 ],

            lang: 'fr',

            defaultView: 'agendaWeek',
          
            header: {
            
            left: 'prev,next today',
              center: 'title',
              right: 'agendaWeek,agendaDay'
            },


             events: "events.php",
             
             eventRender: function(event, element, view) {

                if (event.allDay === 'true') {

                 event.allDay = true;

                } else {

                 event.allDay = false;

                }

             },

             selectable: true,

             selectHelper: true,

             select: function(start, end, allDay) {

             $('#addEventModal').modal('show');
            
             startDate=new Date(start);
             endDate=new Date(end);
             dateStart=startDate.getFullYear()+"/"+(startDate.getMonth()+1)+"/"+startDate.getDate();
            $('.date').attr('value',startDate);
            $('.heureFin').attr('value',endDate);
            $('.heureDeb').attr('value',startDate);

            /* if (title) {

          
               $.ajax({

                 url: 'add_events.php',

                 data: 'title='+ title+'&start='+ start +'&end='+ end,

                 type: "POST",

                 success: function(json) {

                 alert('Added Successfully');

                 }

               }); 

               calendar.fullCalendar('renderEvent',{

                   title: title,

                   start: start,

                   end: end,

                  },true
              );

             }*/

              calendar.fullCalendar('unselect');

           },

           /*
           eventDrop: function(event, delta) {

             var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");

             var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");

             $.ajax({

               url: 'update_events.php',

               data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,

               type: "POST",

               success: function(json) {

                alert("Updated Successfully");

               }

             });

           },

           eventClick: function(event) {

            var decision = confirm("Do you really want to do that?"); 

            if (decision) {

              $.ajax({

                type: "POST",

                url: "delete_event.php",

                data: "&id=" + event.id,

                 success: function(json) {

                   $('#calendar').fullCalendar('removeEvents', event.id);

                    alert("Updated Successfully");}

              });

            }

            },

           eventResize: function(event) {

             var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");

             var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");

             $.ajax({

              url: 'update_events.php',

              data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,

              type: "POST",

              success: function(json) {

               alert("Updated Successfully");

              }

             });

              } */
        });
        length=j;
        for(var i=0;i<length;i++){
          alert(datedeb[i]+""+datefin[i]);
          calendar.fullCalendar('renderEvent',{
            title: titletab[i],
            start: datedeb[i],
            end: datefin[i],
            },true
          );
      };

    });

    </script>
{% endblock %}