{% extends 'baseParent.html.twig' %}

{% block body %}
	<div class="page-title">                    
        <h2><span class="fa fa-info-circle"></span> Informations :</h2>
    </div>
    <div class="row">
    	<div class="col-md-12">                             
                <div class="messages messages-img">
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="John Doe"/>
                        </div>
                        <div class="text">
                            <div class="heading">
                                <a href="#">John Doe</a>
                                <span class="date">08:33</span>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('uploads/photos/avatar.png') }}" alt="Dmitry Ivaniuk"/>
                        </div>                                
                        <div class="text">
                            <div class="heading">
                                <a href="#">Dmitry Ivaniuk</a>
                                <span class="date">08:27</span>
                            </div>                                    
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis suscipit eros vitae iaculis.
                        </div>
                    </div>

                </div>

            </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.active').removeClass('active');
        $('.info').addClass('active');
    </script>
{% endblock%}