{% extends 'baseParent.html.twig' %}

{% block body %}
    <div class="page-content-wrap">
         <div class="row">
            <div class="col-md-12">
                <h3>Les enseignants de la classe {{classe.nom}} :</h3>
            </div>
             {% for mat in classe.ensMat %}
                <div class="col-md-4">
                    <!-- CONTACT ITEM -->
                    <div class="panel panel-default">
                        <div class="panel-body profile">
                            <div class="profile-image">
                                <img src="{% if mat.enseignant.photo %}{{ asset('uploads/photos/' ~ mat.enseignant.photo) }}{% else %}{{ asset('uploads/photos/avatar.png') }}{% endif %}" alt="{{mat.enseignant.nom}}"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">{{mat.enseignant.nom}} {{mat.enseignant.prenom}}</div>
                                <div class="profile-data-title">{{mat.matiere.nom}}</div>
                            </div>
                            <div class="profile-controls">
                                <a href="{{ path('profileEnseignant',{'id':mat.enseignant.id})}}" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="{{ path('message_new',{'id':mat.enseignant.id}) }}" class="profile-control-right"><span class="fa fa-phone"></span></a>
                            </div>
                        </div>                                
                        <div class="panel-body">                                    
                            <div class="contact-info">
                                <p><small>Mobile</small><br/>{{mat.enseignant.telephone}}</p>
                                <p><small>Email</small><br/>{{mat.enseignant.email}}</p>
                                <p><small>Address</small><br/>{{mat.enseignant.adresse}}</p>
                                                                   
                            </div>
                        </div>                                
                    </div>
                    <!-- END CONTACT ITEM -->
                </div>
             {% endfor %}
         </div>           
    </div>

{% endblock %}