{% extends 'baseList.html.twig' %}

{% block title %}
	{{'list'|trans}} {{'classe'|trans}}
{% endblock %}


{% block bodyList %}

    <div class="table-responsive">
        <table id="customers2" class="table datatable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Annee</th>
                    <th>Resp</th>
                    <th>Mod</th>
                    <th>Supp</th>
                    <th>Ens.</th>
                    <th>Eleves</th>
                    <th>Absences</th>
                </tr>
            </thead>
            <tbody>
                {% for classe in app.user.ecole.classes%}
					<tr>
						<td>{{ classe.nom|upper}}</td>
						<td>{{ classe.description}}</td>
						<td>{{ classe.annee.nom}} {{ classe.annee.niveau}}</td>
						<td>{{ classe.responsable.nom}}</td>
						<td>
							<a href="{{ path('editClasse',{'id':classe.id})}}">
								<span class="fa fa-pencil-square-o"></span>
							</a>
						</td>
						<td>
							<a class="delete" href="{{ path('removeClasse',{'id':classe.id})}}">
								<span class="fa fa-trash"></span>
							</a>
						</td>
						<td>
							<a href="{{ path('affectProf',{'id':classe.id})}}">
								<span class="fa fa-user-plus"></span>
							</a>
						</td>
						<td>
							<a href="{{ path('affectEleves',{'id':classe.id})}}">
								<span class="fa fa-users"> ({{ classe.eleves|length}})</span>
							</a>
						</td>
						<td class="text-center">
							<a href="{{path('absence_new',{ 'id': classe.id})}}">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
                {% endfor %}
            </tbody>
        </table>                                    
    </div>
{% endblock %}  
{% block active %}
    <script>
        $('.active').removeClass('active');
        $('.classe').addClass('active');
        $('.listCl').addClass('active');
    </script>
{% endblock%}