{% extends 'ROLE_PARENT' in app.user.roles 
    ? 'baseParent.html.twig' 
    : 'base2.html.twig' %}

{% block body %}

	<!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    
                    <!-- START DATATABLE EXPORT -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% block title %}{% endblock %}</h3>
                            <div class="btn-group pull-right">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='{{ asset("img/icons/sql.png")}}' width="24"/> SQL</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='{{ asset("img/icons/csv.png")}}' width="24"/> CSV</a></li>
                                    <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='{{ asset("img/icons/txt.png")}}' width="24"/> TXT</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='{{ asset("img/icons/xls.png")}}' width="24"/> XLS</a></li>
                                    <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='{{ asset("img/icons/word.png")}}' width="24"/> Word</a></li>
                                    <li><a class="print"><img src='{{ asset("img/icons/print.png")}}' width="24"/> Imprimer</a></li>
                                </ul>
                            </div>                                    
                            
                        </div>
                        <div class="panel-body">
                           {% block bodyList %}
                           {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

	
{% endblock %}

{% block javascripts %}
        
    <script type="text/javascript" src="{{ asset('js/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/tableexport/tableExport.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/tableexport/jquery.base64.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/tableexport/html2canvas.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/tableexport/jspdf/libs/sprintf.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/tableexport/jspdf/jspdf.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/plugins/tableexport/jspdf/libs/base64.js')}}"></script>  
    <script>
        function printData()
        {
           var divToPrint=document.getElementById("customers2");
           newWin= window.open("");
           newWin.document.write(divToPrint.outerHTML);
           newWin.print();
           newWin.close();
        }

        $('.print').on('click',function(){
        printData();
        })
    </script>

    {% block active %}
    {% endblock %}      
       

{% endblock %}  