{% extends 'baseList.html.twig' %}

{% block title %}
  {{'list'|trans ~' '~ 'classes'|trans ~'-'~ 'matieres'|trans}}
{% endblock %}


{% block bodyList %}
      
    <div class="table-responsive">
        <table id="customers2" class="table datatable">
            <thead>
                <tr>
                    <th class="text-center">{{'classe'|trans}}</th>
                    <th class="text-center">{{'global.program'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for classe in data.classes %}
                 
          <tr>
            <td class="text-center">{{ classe.nom }}</td>
            <td class="text-center">
              <a href="{{path('program_show_class',{ 'id': classe.id})}}">
                <i class="fa fa-tasks" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
                {% endfor %}
            </tbody>
        </table>                                    
    </div>
    
{% endblock %}  

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    
<script type="text/javascript">
  
     $( document ).ready( function() {

                $('#customers2').dataTable();
                $('.active').removeClass('active');
                $('.GC').addClass('active');
                $('.listClasse').addClass('active');
            });
</script>
{% endblock %}