{% extends 'base2.html.twig' %}

{% block body %}

<style type="text/css">
        caption /* Titre du tableau */
        {
           margin: auto; /* Centre le titre du tableau */
           font-family: Arial, Times, "Times New Roman", serif;
           font-weight: bold;
           font-size: 1.2em;
           color: #009900;
           margin-bottom: 20px; /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
        }
 
        table /* Le tableau en lui-même */
        {
           margin: auto; /* Centre le tableau */
           border: 4px outset green; /* Bordure du tableau avec effet 3D (outset) */
           border-collapse: collapse; /* Colle les bordures entre elles */
           width:100%;
        }
        th /* Les cellules d'en-tête */
        {
           background-color: #006600;
           color: white;
           font-size: 1.1em;
           font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
           border:1px solid red;
        }
 
        td /* Les cellules normales */
        {
           border: 1px solid black;
           font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
           text-align: center; /* Tous les textes des cellules seront centrés*/
           padding: 5px; /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
        }
        td.time
        {
            width:5%;
        }
    </style>
<table>
	{% set jour = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi"] %} 
   {% set horraire=data.horraire %}
 
  {% set x=4 %}
  {% set i=0 %}
  {% set j=8 %}

   <tr><th>Heure</th>
    {% for i in 0..x %}

    	<th>{{jour[i]}}</th>
    {% endfor %}
    	</tr>
    	{% for j in 0..7  %}
    		<tr>
    		{% for i in 0..x %}
    			{% if i==0 %}
    				<td class="time">{{horraire[j]}}</td>
    			{% endif %}
    			<td id="{{jour[i]~horraire[j].id}}">

    			</td>
			{% endfor %}
    		</tr>
    	{% endfor %}

</table>
<script type="text/javascript" src="{{ asset('js/plugins/jquery/jquery.min.js') }}"></script>

<script type="text/javascript">

taille="{{data.programme|length}}";

for(i=0;i<taille;i++){
    </script>
    {% if data.programme|length != 0 %}
    <script type="text/javascript">
    $('#{{data.programme[i].jour~''~data.programme[i].horraire.id}}').append("{{data.programme[i]}}   <a href=\"{{path('delete_programme',{'id':data.programme[i].id})}}\"><span class=\"fa fa-remove\" style=\"color:black\"></span></a>");
    {% endif %}
    </script>
  }
}
</script>
{% endblock %}