{% extends 'ROLE_PARENT' in app.user.roles 
    ? 'baseParent.html.twig' 
    : 'base2.html.twig' %}
{% block body %}
<div class="row">	
	<div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body profile" style="background: url('{{asset("img/gallery/music-4.jpg")}}') center center no-repeat;">
                <div class="profile-image">
                    <img src="{% if ecole.logo %}{{ asset('uploads/logos/' ~ ecole.logo) }}{% else %}{{ asset('uploads/logos/logo.jpg') }}{% endif %}" alt="{{ecole.nom}} à {{ecole.ville}}"/>
                </div>
                <div class="profile-data">
                    <div class="profile-data-name">{{ecole.nom}} à {{ecole.ville}}</div>
                    <div class="profile-data-title" style="color: #FFF;">Ecole N° {{ecole.code}}</div>
                </div>
                                                 
            </div>                                
            <div class="panel-body">                                    
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-info btn-rounded btn-block" href="#"><span class="fa fa-user"></span> Ajouter des utilisateurs</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary btn-rounded btn-block" href="#"><span class="fa fa-money"></span> Editer Payements</a>
                    </div>
                </div>
            </div>
            <div class="panel-body list-group border-bottom">   
            	<a href="#" class="list-group-item"><span class=" col-md-3 fa fa-calendar"><b> Date Création :</b></span> {{ecole.dateCreation|date('Y-m-d')}}</a>                          
                <a href="#" class="list-group-item "><span class=" col-md-3 fa fa-location-arrow"><b> ADRESSE :</b></span> {{ecole.adresse}}</a>
                <a href="#" class="list-group-item "><span class=" col-md-3 fa fa-map-marker"><b> PAYS :</b></span> {{ecole.pays}}</a>
                <a href="#" class="list-group-item "><span class=" col-md-3 fa fa-mobile"><b> TELEPHONE :</b></span> {{ecole.telephone}}</a>
                <a href="#" class="list-group-item "><span class=" col-md-3 fa fa-envelope-o"><b> EMAIL :</b></span> {{ecole.email}}</a>
                <a href="#" class="list-group-item "><span class=" col-md-3 fa fa-user"><b> ADMIN :</b></span> {{ecole.admin.nom}} {{ecole.admin.prenom}}</a>
            </div>
            <div class="panel-body">
                  <h3>Tarifs des payements</h3>
					<ul>
							<li><b>Primaire :</b> 20 0000 DZD</li>
					</ul>
            </div>
        </div>                              
    </div>
</div>
{% endblock %}